{
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier"
  ],
  "env": {
    "es6": true,
    "node": true"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "strict": ["error", "never"],
  }
}
